transformers
sentencepiece
seaborn
catboost
dask
xgboost
jupyterlab-kite>=2.0.2
japanize-matplotlib

tqdm
pqdm
boto3
s3fs
pyarrow
google-cloud-secret-manager
google-cloud-bigquery
google-cloud-bigquery-storage
pandas-gbq
